h1 {
    color: #696969;
    font-family: "sans-serif";
}

h2 {
  color: #696969;
}

header {
  background-color: #696969;
  line-height:150px;
}

header h1 {
  font-size:40px;
  color: #ffffff;
  font-family: "YuGothic";
}

body {
  color: #696969;
  width: 700pt;
  margin: 50px auto;
}

footer {
  background-color: #b0c4de;
  height:30px; /* バーの高さを確保 */
  line-height:30px;
  text-align: center;
  margin: 100px 0px;
  color: #fff;
}

.paper{
    padding: 0.5em 1em;
    width: auto;
}

.title{
  padding: 0.4em 0.4em;
  width: auto;
  font-family: "YuGothic";
  text-decoration:none;
}

.author{
  font-size: 90%;
  margin: 0.2em 1em;
}

.publication{
  font-size: 90%;
  margin: 0.2em 1em;
}

.description{
  margin: 0.2em 1em;/*左の余白*/
  font-size: 90%;
}

.d{
  border: solid 0.2em #CACACD;/*枠色*/m;
  padding: 0.5em 0.5em;
  margin: 0.3em;
  margin-left: -1.4em;
}

.item{
  font-style: italic;
  width: 45%;
  float: left;
  margin-left: 30pt;
}

.detail{
  width: 50%;
  float: left;
  margin: 0pt auto;
}

.double{
  margin: 13pt 0pt 0pt;
}

.content{
  margin: 50pt 0pt 0pt;
}

.content hr{
  size: 3;
  noshade;
  margin: -10pt 0pt 0pt;
}

.menu {
    background-color:#696969; /* バーに背景色。端まで塗るため幅はulに指定。 */ }

.menu ul {
    height:30px; /* バーの高さを確保 */
    margin: -30px -40px;
}

.menu li {
    float:left; /* liを左寄せ */
    list-style-type:none;
}

.menu li a {
    width:200px;
    display:block;
    line-height:30px;
    text-decoration:none;
    text-align: center;
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
}

.menu a:hover {
    color:#696969;
    background-color:#ffffff;
}
