h1 {
  color: #696969;
}

h2 {
  color: #696969;
}

header {
  border-bottom: 5px solid #f5f5f5;
}

body {
  color: #696969;
  margin: 30px 300px;
  padding: 10px;
}

footer {
  background-color: #b0c4de;
  color: #fff;
}

.menu {
    background-color:#9999ff; /* バーに背景色。端まで塗るため幅はulに指定。 */  }

.menu ul {
    width:auto; /* liが横に並ぶ幅を確保 */
    height:22px; /* バーの高さを確保 */
}

.menu li {
    float:left; /* liを左寄せ */
    list-style-type:none;
}

.menu li a {
    width:120px;
    border:1px solid #9999ff;
    padding:2px;    
    display:block;
    line-height:16px;
    text-decoration:none;
    text-align: center;
    font-size:12px;
    font-weight:bold;
    color:#ffffff;
    background-color:#9999ff;
}

.menu li.lastmenu a{
    border:1px solid #9999ff;
}

.menu a:hover {
    color:#9999ff;
    background-color:#ffffff;
}

.paper{
    padding: 0.5em 1em;
    width: auto;
}

.title{
  padding: 0.4em 0.4em;
  width: auto;
  font-family: Arial;
  text-decoration:none;
}

.author{
  font-size: 90%;
  margin: 0.2em 1em;
}

.publication{
  font-size: 90%;
  margin: 0.2em 1em;
}

.description{
  margin: 0.2em 1em;/*左の余白*/
  font-size: 90%;
}

.d{
  border: solid 0.2em #CACACD;/*枠色*/m;
  padding: 0.5em 0.5em;
  margin: 0.3em;
  margin-left: -1.4em;
}

.item{
  font-style: italic;
  width: 40%;
  float: left;
  margin-left: 30pt;
}

.detail{
  width: 50%;
  float: left;
  margin-left: 5pt;
}

.double{
  margin: 13pt 0pt 0pt;
}

.content{
  margin: 30pt 0pt 0pt;
}

.content hr{
  width: auto;
  size: 3;
  noshade;
  margin: -10pt 0pt 0pt;
}